.NavBar{
    width: 100%;
    height: 2.5em;
    display: flex;
    flex-direction: row;
	align-items: center;
    text-align: center;
	justify-content: center;
    background-color: rgb(27, 35, 31);
    list-style: none;
}

.NavBar_element{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;   
    width: 20%; 
}
.NavBar_element {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
	font-family: 'Shrikhand-Regular';
}

.NavBar_element span {
	transition: all 0.3s;
}
.NavBar_element::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: black;
	border-bottom-color: grey;
	transform: scale(0.1, 1);
	text-decoration: none;
	color: white;
}
.NavBar_element:hover span {
	letter-spacing: 2px;
	text-decoration: none;
	color: white;
}
.NavBar_element:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
	background-color: rgba(100, 100, 98, 0.1);
	text-decoration: none;
	color: white;
}
.NavBar_element::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	text-decoration: none;
	color: white;
	
}
.NavBar_element:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
	text-decoration: none;
	color: white;
}

.burger-button{
	height: 20px;
	width: 20px;
	overflow: hidden;
	background-color: red;
}

.burger-button .my-links {
	display: none;
  }

.burger-button a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.burger-button a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }

  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }

  .active {
	background-color: #4CAF50;
	color: white;
  }

.burger-button-element{
	color: white;
	font-family: 'Shrikhand-Regular';
	font-size: 50px;
	margin-left: 10px;
}