$primary-color: rgb(27, 35, 31);

.footer{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: column;
    background-color: #0A532D;
}

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.footer-bottom{
    height: 30%;
}
.footer-logo{
    width: 60%;
    height: 60%;
}

.a-footer:visited{
    text-decoration: none;
    color: white;
}
